<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>app_id</key>
	<string>1274000856</string>
	<key>shared_secret</key>
	<string>05780f60c2bd4927b96fa2269802c71c</string>
	<key>iap_desc</key>
	<string>* Record high-quality video\n* Unlimited Support \nYou can cancel anytime </string>
	<key>tutorials</key>
	<array>
		<string>tutor1</string>
		<string>tutor2</string>
	</array>
	<key>appName</key>
	<string>WALLPAPERS</string>
	<key>appUnlock</key>
	<string>Access unlimited to all photos</string>
</dict>
</plist>
